/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

/* BODY */
	body{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #093a4d;
		margin: 0;
	}
		a {
			background-color: transparent;
			outline: 0!important;
		}

			a:active,
			a:hover {
				outline: 0!important;
			}

	/* TOPO */
		.area-topo {
		    position: relative;

		    width: 100%;
		}

			.area-topo .carrossel{

			}

				.area-topo .carrossel #carrossel-inicial{

				}

					.area-topo .carrossel #carrossel-inicial .owl-item{
						width: auto;
					}

					.area-topo .carrossel #carrossel-inicial .item {
					    position: relative;
					    z-index: 0;

					    height: 740px;

					    background-repeat: no-repeat!important;
					    /*background-position: 50% 0%;*/
					    background-size: cover!important;
					}

						.area-topo .carrossel #carrossel-inicial .item .overlay {
						    position: absolute;
						    z-index: -9999;
						    top: 0;
						    left: 0;

						    width: 100%;
						    height: 740px;

						    background: rgba(106, 162, 183, .35);
						}

						.area-topo .carrossel #carrossel-inicial .item .texto-carrossel {
						    z-index: 2;

						    margin-top: 380px;
						}

							.area-topo .carrossel #carrossel-inicial .item .texto-carrossel span {
							    font-size: 22px;

							    text-transform: uppercase;

							    color: #04202b;
							}

							.area-topo .carrossel #carrossel-inicial .item .texto-carrossel h2 {
							    font-size: 22px;
							    font-weight: 300;

							    z-index: 3;

							    margin-bottom: 25px;

							    color: #fff;
							}

							.area-topo .carrossel #carrossel-inicial .item .texto-carrossel a {
							    font-size: 20px;
							    font-weight: 300;
							    line-height: 40px;

							    display: block;

							    width: 215px;
							    height: 40px;
							    margin: 0 auto;

							    text-align: center;
							    text-decoration: none;

							    color: #fff;
							    border: 1px solid #fff;
							    background: rgba(39, 142, 93, .75);
							}

								.area-topo .carrossel #carrossel-inicial .item .texto-carrossel a:hover{
									background: #278e5d;
								}

				.area-topo .carrossel .navegacaoCarrosselTopFrente,
				.area-topo .carrossel .navegacaoCarrosselTopTras {
				    font-size: 60px;
				    font-weight: 700;

				    position: absolute;
				    z-index: 9999;
				    top: 50%;

				    transform: translateY(-50%);

				    color: rgba(255,255,255,.6);
				    border: none;
				    outline: 0;
				    background: transparent;
				}

					.area-topo .carrossel .navegacaoCarrosselTopFrente:hover,
					.area-topo .carrossel .navegacaoCarrosselTopTras:hover{
						color: #fff;
					}

				.area-topo .carrossel .navegacaoCarrosselTopFrente{
					left: 40px;
				}

				.area-topo .carrossel .navegacaoCarrosselTopTras{
					right: 40px;
				}

			.area-topo .topo {
			    position: absolute;
			    z-index: 9999;
			    top: 20px;
			    left: 0;

			    width: 100%;
			}

				.area-topo .topo .navbar-header{
					width: 100%;
				}

					.area-topo .topo .navbar-header .icon-bar{
						background: #fff;
					}

					.area-topo .topo .navbar-header h1 {
					    display: block;

					    width: 58%;
					    height: 112px;
					    margin: 0;
					    padding: 0;

					    text-indent: -9999em;

					    background: rgba(255,255,255,.5) url(img/logo.png) no-repeat;
					    background-position: 90% 50%;
					}

				.area-topo .topo .navbar-nav {
				    float: none;
				    clear: both;

				    width: 100%;

				    text-align: center;
				}

					.area-topo .topo .navbar-nav li {
					    font-weight: 300;

					    display: inline-block;
					    float: none;
					    clear: both;

					    margin: 0 40px;
					}

						.area-topo .topo .navbar-nav li.link-ativo{
							font-weight: 700!important;
						}
						.area-topo .topo .navbar-nav li a {
						    position: relative;

						    padding: 15px 0;

						    color: #fff;
						}

							.area-topo .topo .navbar-nav li a::after {
							    position: absolute;
							    top: 90%;
							    left: 0;

							    width: 100%;
							    height: .5px;

							    content: '';
							    -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
							       -moz-transition: height .3s, opacity .3s, -moz-transform .3s;
							            transition: height .3s, opacity .3s, transform .3s;
							    -webkit-transform: translateY(-10px);
							       -moz-transform: translateY(-10px);
							            transform: translateY(-10px);

							    opacity: 0;
							    background: #fff;
							}

							.area-topo .topo .navbar-nav li a:hover {
							    color: #fff;
							    background: transparent!important;
							}

								.area-topo .topo .navbar-nav li a:hover::after {
								    height: 3px;

								    -webkit-transform: translateY(0px);
								       -moz-transform: translateY(0px);
								            transform: translateY(0px);

								    opacity: 1;
								}
							.nav>li>a:hover, .nav>li>a:focus{
								background-color: transparent!important;
							}


	/* RODAPÉ */
		.rodape{
			margin-top: 15px;
		}

			.rodape .mapa {
			    border-top: solid 2px #ccc;
			    border-bottom: solid 2px #ccc;
			}

				.rodape iframe {
				    width: 100%;
				    height: 175px;
				}

			.rodape .imagem-de-fundo {
			    padding: 25px 0 40px 0;

			    background: url(img/background-fundo.jpg);
			    background-repeat: no-repeat;
			    background-size: cover;
			}

				.rodape .titulo {
				    font-size: 23px;
				    font-weight: 300;

				    padding: 30px 40px;

				    color: #093a4d;
				    text-shadow: 0 2px 2px rgba(0, 0, 0, .25);
				}

				.rodape span {
				    font-size: 17px;

				    display: block;

				    padding: 8px 0 8px 40px;

				    color: #fff;
				}

				.rodape .incone-logo{
					text-align: center;
				}
					.logo-footer {
					    display: block;

					    padding: 60px 0 50px 0;
					}

					.rodape .incone-logo img{

					}
					.rodape .incone-logo a {
					    display: inline-block;

					    width: 50px;
					    height: 50px;
					}

						.rodape .incone-logo a i {
						    font-size: 30px;

						    padding: 10px;

						    color: #093a4d;
						}

							.rodape .incone-logo a:hover i{
								color: #fff;
							}

				.rodape .formulario {
					text-align: center;
				}

					.rodape .formulario span {
					    text-align: center;
					    padding: 0px;
					    color: #fff;
					}

					.rodape .formulario input {
					    display: block;

					    width: 300px;
					    height: 45px;
					    margin: auto;
					    margin-top: 5px;
					    padding: 5px 8px;
					}

					.rodape .formulario .botao {
					    font-size: 20px;
					    font-weight: 300;

					    width: 300px;
					    height: 40px;
					    margin-top: 10px;

					    text-transform: uppercase;

					    color: #fff;
					    border: solid 1px #fff;
					    background-color: #116935;
					}

						.rodape .formulario .botao:hover{
							background-color: #0B4423
						}

				.rodape .termos {
				    padding: 25px;

				    text-align: center;

				    color: #fff;
				    border-top: solid 1px #fff;
				    background-color: #093a4d;
				}

					.rodape .termos span{
						color:red ;
					}

	/* COPYRIGHT */
		.rodape .termos {
		    font-size: 14px;

		    padding: 25px;

		    text-align: center;

		    color: #fff;
		    border-top: solid 1px #fff;
		    background-color: #093a4d;
		}

			.rodape .termos small{
				color: #116935;
			}

			.rodape .termos span{
				color:red ;
			}

	/* PG GERAL */
		.pg{

		}
			.pg .titulo {
			    font-size: 25px;
			    font-weight: 300;

			    margin-bottom: 30px;

			    text-transform: uppercase;

			    color: #04202b;
			}

				.pg .titulo span {
				    padding: 4px 25px;

				    border-bottom: 2px solid #4f626a;
				}

			.pg .titulo2 {
			    font-size: 25px;
			    font-weight: 300;

			    margin-bottom: 30px;

			    text-transform: uppercase;

			    color: #fff;
			}

				.pg .titulo2 span {
				    padding: 4px 25px;

				    border-bottom: 2px solid #fff;
				}

					.pg .titulo2 span b{
						color: #116935;
					}

			.pg .titulo-yt {
			    font-size: 30px;

			    margin-bottom: 35px;
			}

			.pg .quem-somos .iframe{
				position: relative;
			}

				.pg .quem-somos .iframe img {
			    position: absolute;
			    top: 40px;
			    left: 20px;
			}

			.pg .item-vantagem,
			.pg .item-vantagem2{
				opacity: 0;
			}

			.pg .titulo-internas {
			    font-size: 24px;
			    font-weight: 300;

			    margin-top: 20px;

			    text-align: center;
			}

				.pg .titulo-internas span {
				    line-height: 62px;

				    display: block;

				    width: 302px;
				    height: 62px;
				    margin: 0 auto;

				    border: 1px solid rgba(9, 58, 77, .65);
				    text-shadow: 0 4px 2px rgba(150, 150, 150, .6);
				}

				.pg .conteud-o{
					padding: 10px;
				}
				.pg .conteud-o span{
					color: #116935;
					font-weight: bold;
					display: inline-block;
				    margin-top: 55px;

				}


				.skew-on {
				    margin-top: 100px;

				    -webkit-transform: skew(0deg, 2deg);
				       -moz-transform: skew(0deg, 2deg);
				        -ms-transform: skew(0deg, 2deg);
				         -o-transform: skew(0deg, 2deg);
				            transform: skew(0deg, 2deg);

				    color: #fff;
				    background: #becbcf;
				}
				.skew-off {
				    padding: 40px 0;

				    -webkit-transform: skew(0deg, -2deg);
				       -moz-transform: skew(0deg, -2deg) ;
				        -ms-transform: skew(0deg, -2deg) ;
				         -o-transform: skew(0deg, -2deg) ;
				            transform: skew(0deg, -2deg) ;
				}
				.pg .imagem-top {
				    height: 405px;

				    background-repeat: no-repeat!important;
				    background-size: cover!important;
				}
				.pg .topo-projetos {
				    background: url(img/topo2.jpg);
				    background-position: 50% 0;
				}
				.pg .topo-parceiros {
				    background: url(img/topo3.jpg) left;
				}
				.pg .topo-quem-somos {
				    background: url(img/topo4.jpg);
				    background-position: 50% 60%;
				}
				.pg .topo-novidades {
				    background: url(img/topo5.jpg);
				    background-position: 50% 33%;
				}
				.pg .topo-contato {
				    background: url(img/topo6.jpg);
				    background-position: 50% 0%;
				}
					.pg .efeito-sombra {
					    height: 100%;

					    background-color: rgba(0, 0, 0, .42);
					}
				.pg .mh90px{
					min-height: 90px;
				}

				.descricao {
				    margin-top: 40px;
				    margin-bottom: 68px;

				    text-align: center;
				}

				.pg .frase {
			    margin: 30px 0 50px;
			    padding: 0 40px;
			}

				.pg .frase .texto-frase span{

				}
					.pg .frase .texto-frase span b {
					    font-weight: bold;

					    text-transform: uppercase;

					    color: #116935;
					}

			.pg .frase-novidades{
				margin: 30px 0 50px;
				padding: 0 20px;
			}

	/* PG GERAL INTERNAS*/
		.pg-internas{

		}

	/* PG INICIAL*/
		.pg-inicial{

		}
			.pg-inicial .quem-somos{
				margin: 50px 0;
			}

			.pg-inicial .parceiros{
				margin: 50px 0;
			}

				.pg-inicial #carrossel-parceiros-inicial{
						background: #e2e2e2;
						height: 190px;
				}
				.pg-inicial .carrossel-parceiros .bg-azul {
				    margin-bottom: 50px;
				    padding: 10px 20px;

				    background: #093a4d;
				}
				.pg-inicial .carrossel-parceiros .navegacaoCarrosselClienteFrente,
				.pg-inicial .carrossel-parceiros .navegacaoCarrosselClienteTras {
				    display: inline-block;

				    width: 30px;
				    height: 30px;

				    color: #fff;
				    border: 2px solid #fff;
				    border-radius: 3px;
				    background: transparent;
				}

					.pg-inicial #carrossel-parceiros-inicial .item {
						position: relative;
						height: 150px;
						/*border: solid 1px #ccc;
						margin: 0 4px !important;*/
						background: #fff;
						width: 150px;
						margin: 20px 0 0 40px;
					}

						.pg-inicial #carrossel-parceiros-inicial .item img {
						    position: absolute;
						    top: 50%;
						    left: 50%;

						    width: auto!important;

						    transform: translate(-50%, -50%);
						}

			.pg-inicial .vantagens{

			}

				.pg-inicial .item{
					padding: 20px 10px;
				}

					.pg-inicial .a {
					    display: block;

					    min-height: 120px;

					    cursor: pointer;
					}

						.pg-inicial .item .quadrado {
						    position: relative;

						    display: block;

						    width: 85px;
						    height: 85px;
						    margin: 20px auto;

						    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
						        -ms-transform: rotate(45deg); /* IE 9 */
						            transform: rotate(45deg);

						    background: #749682;
						}

							.pg-inicial .a:hover .quadrado {
							    background: #214d5e;
							}

							.pg-inicial .item .quadrado .pergunta {
							    position: absolute;
							    top: 50%;
							    left: 50%;

							    width: 42px;
							    height: 39px;

							    -webkit-transform: translate(-50%,-50%) rotate(-45deg); /* Chrome, Safari, Opera */
							        -ms-transform: translate(-50%,-50%) rotate(-45deg); /* IE 9 */
							            transform: translate(-50%,-50%) rotate(-45deg);

							    background: url(img/pergunta.png);
							    background-position: 50% 100%;
							}

								.pg-inicial .a:hover .quadrado .pergunta{
									background-position: 50% 0%;
								}

							.pg-inicial .item .quadrado .check {
							    position: absolute;
							    top: 50%;
							    left: 50%;

							    width: 43px;
							    height: 41px;

							    -webkit-transform: translate(-50%,-50%) rotate(-45deg); /* Chrome, Safari, Opera */
							        -ms-transform: translate(-50%,-50%) rotate(-45deg); /* IE 9 */
							            transform: translate(-50%,-50%) rotate(-45deg);

							    background: url(img/check.png);
							    background-position: 50% 100%;
							}

								.pg-inicial .a:hover .quadrado .check {
								    background-position: 50% 0;
								}

							.pg-inicial .item .quadrado .mais {
							    position: absolute;
							    top: 50%;
							    left: 50%;

							    width: 42px;
							    height: 41px;

							    -webkit-transform: translate(-50%,-50%) rotate(-45deg); /* Chrome, Safari, Opera */
							        -ms-transform: translate(-50%,-50%) rotate(-45deg); /* IE 9 */
							            transform: translate(-50%,-50%) rotate(-45deg);

							    background: url(img/mais.png);
							    background-position: 50% 100%;
							}

								.pg-inicial .a:hover .quadrado .mais {
								    background-position: 50% 0;
								}

							.pg-inicial .item .quadrado .lixeira {
							    position: absolute;
							    top: 50%;
							    left: 50%;

							    width: 33px;
							    height: 40px;

							    -webkit-transform: translate(-50%,-50%) rotate(-45deg); /* Chrome, Safari, Opera */
							        -ms-transform: translate(-50%,-50%) rotate(-45deg); /* IE 9 */
							            transform: translate(-50%,-50%) rotate(-45deg);

							    background: url(img/lixeira.png);
							    background-position: 50% 100%;
							}

								.pg-inicial .a:hover .quadrado .lixeira {
								    background-position: 50% 0;
								}

						.pg-inicial .a p{
							color: #093a4d;
						}
							.pg-inicial .a p span {
							    font-weight: bold;

							    text-decoration: underline;
							}

			.pg-inicial .imagem-fundo {
			    width: 100%;
			    padding: 30px 25px 80px 0;

			    background: url(img/imagem-fundo.jpg);
			    background-repeat: no-repeat;
			    background-size: cover;
			}

				.pg-inicial .imagem-fundo .a {
				    display: block;

				    min-height: 120px;

				    cursor: pointer;
				}

					.pg-inicial .imagem-fundo .a .editar {
					    display: block;

					    width: 52px;
					    height: 48px;
					    margin: 0 auto;

					    background: url(img/editar.png);
					    background-repeat: no-repeat;
					    background-position: 50% 0;
					}

						.pg-inicial .imagem-fundo .a:hover .editar {
						    width: 75px;
						    height: 72px;

						    background-position: 50% 100%;
						}

					.pg-inicial .imagem-fundo .a .mensagem {
					    display: block;

					    width: 52px;
					    height: 37px;
					    margin: 0 auto;

					    background: url(img/mensagem.png);
					    background-repeat: no-repeat;
					    background-position: 50% 0;
					}

						.pg-inicial .imagem-fundo .a:hover .mensagem {
						    width: 84px;
						    height: 60px;

						    background-position: 50% 100%;
						}

					.pg-inicial .imagem-fundo .a .positivo {
					    display: block;

					    width: 52px;
					    height: 48px;
					    margin: 0 auto;

					    background: url(img/positivo.png);
					    background-repeat: no-repeat;
					    background-position: 50% 0;
					}

						.pg-inicial .imagem-fundo .a:hover .positivo {
						    width: 75px;
						    height: 75px;

						    background-position: 50% 100%;
						}

					.pg-inicial .imagem-fundo .a .perfil {
					    display: block;

					    width: 60px;
					    height: 58px;
					    margin: 0 auto;

					    background: url(img/perfil.png);
					    background-repeat: no-repeat;
					    background-position: 50% 0;
					}

						.pg-inicial .imagem-fundo .a:hover .perfil {
						    width: 75px;
						    height: 72px;

						    background-position: 50% 100%;
						}

					.pg-inicial .imagem-fundo .a p {
					    color: #fff;
					}

			.pg-inicial .depoimentos {
			    position: relative;

			    margin-top: 20px;
			    margin-bottom: 50px;
			}

				.pg-inicial .depoimentos #carrossel-depoimentos-inicial{
					background: #e6ebed;
				}

					.pg-inicial .depoimentos .item{
						padding: 20px 40px;
					}

						.pg-inicial .depoimentos .item .foto {
						    display: block;

						    width: 150px;
						    height: 150px;
						    margin: 0 auto;

						    border: 5px solid #a4c3b4;
						    border-radius: 50%;
						    background-repeat: no-repeat!important;
						    background-position: center!important;
						    background-size: cover!important;
						}

						.pg-inicial .depoimentos .item .comentario {
						    display: flex;
						    flex-direction: column;

						    height: 150px;/* a altura precisa ser setada com o tamanho da div */

						    justify-content: center;
						}

							.pg-inicial .depoimentos .item .comentario p {
							    font-size: 18px;
							    font-style: italic;
							}

								.pg-inicial .depoimentos .item .comentario strong{
									color: #fff;
								}

									.pg-inicial .depoimentos .item .comentario span {
									    font-size: 15px;
									    font-style: italic;

									    text-transform: uppercase;

									    color: #116935;
									}

				.pg-inicial .depoimentos .navegacaoCarrosseldepoimentoFrent,
				.pg-inicial .depoimentos .navegacaoCarrosseldepoimentoTras {
				    font-size: 60px;
				    font-weight: 700;

				    position: absolute;
				    z-index: 9999;
				    top: 50%;

				    transform: translateY(-50%);

				    color: rgba(17, 105, 53, .58);
				    border: none;
				    outline: 0;
				    background: transparent;
				}

					.pg-inicial .depoimentos .navegacaoCarrosseldepoimentoFrent:hover,
					.pg-inicial .depoimentos .navegacaoCarrosseldepoimentoTras:hover {
					    color: #116935;
					}

				.pg-inicial .depoimentos .navegacaoCarrosseldepoimentoFrent {
				    left: 20px;
				}

				.pg-inicial .depoimentos .navegacaoCarrosseldepoimentoTras {
				    right: 20px;
				}

			.pg-inicial .novidades{
				margin-bottom: 50px;
			}

				.pg-inicial .novidades a{
					text-decoration: none;
				}

					.pg-inicial .novidades .imagem {
					    position: relative;

					    display: block;

					    width: 220px;
					    height: 153px;
					    margin: 0 auto;

					    border: 1px solid #093a4d;
					    background-repeat: no-repeat!important;
					    background-position: center!important;
					    background-size: cover!important;
					}

					.pg-inicial .novidades .data {
					    display: block;

					    width: 220px;
					    height: 55px;
					    margin: 2px auto 5px;

					    border: 1px solid #116935;
					}

						.pg-inicial .novidades a:hover .data {
						    border: 1px solid #093a4d;
						    background: #093a4d;
						}

						.pg-inicial .novidades .data .calendario span {
						    display: block;

						    width: 44px;
						    height: 37px;
						    margin: 5px auto;

						    background: url(img/calendario.png) no-repeat;
						    background-position: 50% 0;
						}

							.pg-inicial .novidades a:hover .data .calendario span {
							    display: block;

							    width: 44px;
							    height: 37px;
							    margin: 5px auto;

							    background: url(img/calendario.png) no-repeat;
							    background-position: 50% 100%;
							}

						.pg-inicial .novidades .data .data-texto strong {
						    line-height: 55px;

						    color: #116935;
						}

					.pg-inicial .novidades .descricao {
					    font-size: 14px;

					    width: 220px;
					    height: auto;
					    margin: 0 auto 15px;

					    color: #093a4d;
					}

						.pg-inicial .novidades .descricao h2{
							font-size: 16px;
						}
						.pg-inicial .ver-mais{
							font-size: 40px;
							text-align: right;

						}
							.pg-inicial .ver-mais a{
								font-size: 40px;
								text-align: right;
								position: relative;
								color: #116935;

							}


	/* PG PROJETOS*/
		.pg-projetos{
		}

			.pg-projetos .projetos{
			    margin-top: 50px;
			}

				.pg-projetos .sub-menu {
				    width: 100%;
				    margin: 0;
				    padding: 0;

				    list-style: none;
				}

					.pg-projetos .sub-menu li {
					    display: block;

					    width: 230px;
					    height: 34px;
					    margin: 0 auto;
					}

						.pg-projetos .sub-menu li .botaoCat {
						    font-size: 20px;

						    display: block;

						    text-align: center;
						    text-decoration: none;

						    color: #093a4d;
						    border: solid 1px #70a585;
						    background-color: white;
						    width: 100%;
						}

							.pg-projetos .sub-menu li .botaoCat:hover {
							    color: #fff!important;
							    border: solid 1px #214d5e;
							    background-color: #214d5e;
							}

				.pg-projetos .legenda {
				    width: 230px;
				    height: auto;
				    margin: 20px auto;
				    padding: 20px 5px;

				    border: solid 1px #70a585;
				}
					.pg-projetos .legenda ul {
					    margin: 0;
					    padding: 0;

					    list-style: none;
					}
						.pg-projetos .legenda li {
						    height: 76px;
						}
							.pg-projetos .legenda li .icone-imagem {
							    position: relative;

							    display: block;

							    width: 44px;
							    height: 44px;
							    margin: 0 auto;
							}
								.pg-projetos .legenda li .icone-imagem::after {
								    position: absolute;
								    bottom: -34px;
								    left: 50%;

								    width: 4px;
								    height: 35px;

								    content: '';
								    transform: translateX(-50%);

								    background-color: #116935;
								}
									.pg-projetos .legenda li:last-child .icone-imagem::after {
									    display: none;
									}
								.pg-projetos .legenda li img {
								}

							.pg-projetos .legenda li span {
							    display: block;

							    margin: 5px 0 0;
							}

				.pg-projetos .caixa-texto {
				    width: 230px;
				    height: auto;
				    margin: 20px auto;

				    color: #fff;
				    background-color: #116935 ;
				}
					.pg-projetos .caixa-texto p {
					    font-size: 16px;

					    padding: 20px;
					}

				.projetos-container {
				    position: relative;

				    width: 100%;
				    padding: 0 20px;
				}

					.projetos-container ul,
					.projetos-container li {
					    margin: 0;
					    padding: 0;

					    list-style-type: none;
					}

					.projetos-grid {
					    position: relative;

					    display: -webkit-flex;
					    display:    -moz-flex;
					    display:     -ms-flex;
					    display:         flex;

					    text-align: center;

					    -webkit-flex-flow: row wrap;
					       -moz-flex-flow: row wrap;
					        -ms-flex-flow: row wrap;
					            flex-flow: row wrap;
					    -webkit-justify-content: center;
					       -moz-justify-content: center;
					        -ms-justify-content: center;
					    -webkit-justify-content: center;
					}
						.projetos-grid > li {
						    position: relative;

						    display: inline-block;

						    width: 33%;
						    /*min-width: 340px;*/
						    max-width: 555px;
						    padding: 20px 2% 50px 2%;

						    text-align: left;
						    vertical-align: top;
						    /*display: block;*/
						}

							.pg-projetos .projetos .projetos-grid > li a{
								text-decoration: none;
							}

				.pg-projetos .projetos .projeto{

				}
					.pg-projetos .projetos .projeto .sombra {
					    z-index: -9999;

					    display: block;

					    width: 221px;
					    height: 202px;
					    margin: 0 auto;

					    background: #093a4d;
					}

						.pg-projetos .projetos .projeto .foto-projeto {
						    z-index: 9999;

						    display: block;

						    width: 221px;
						    height: 202px;
						    margin: 0 auto;

						    background-repeat: no-repeat!important;
						    background-position: center!important;
						    background-size: cover!important;
						    opacity: 1 !important;
						}

						.pg-projetos .projetos .projeto .foto-projeto-semsombra{
						    z-index: 9999;

						    display: block;

						    width: 221px;
						    height: 202px;
						    margin: 0 auto;

						    background-repeat: no-repeat!important;
						    background-position: center!important;
						    background-size: cover!important;


						}

					.pg-projetos .projetos .projeto .dados-projeto{

					}

					.pg-projetos .projetos a{
						color: #093A4D !important;
					}

						.pg-projetos .projetos .projeto .dados-projeto h2{
						    font-size: 14px!important;

						    margin: 5px 0;
						    padding: 0;

						    color: black!important;
						}

							.pg-projetos .projetos .projeto .dados-projeto h2 span{
								color: #146a37!important;
							}

			.pg-projetos .paginador {
			    margin: 80px 0 80px 0;
			    padding: 0;

			    list-style: none;

			    text-align: center;
			}
				.pg-projetos .paginador li {
				    display: inline-block;
				}
					.pg-projetos .paginador li a {
					    font-size: 20px;

					    display: block;

					    width: 29px;
					    height: 40px;
					    padding: 5px 0 0 0;
					    margin: 0 5px;

					    text-align: center;
					    text-decoration: none;

					    color: #093a4d;
					    border: solid 1px #093a4d;
					    background-color: #fff;
					}
						.pg-projetos .paginador li a:hover,
						.pg-projetos .paginador li a.pg-atual {
						    color: #fff;
						    background-color: #093a4d;
						}

	/* PG PROJETO*/
		.pg-projeto{

		}

			.pg-projeto .carrossel {
			    position: relative;

			    margin: 50px 0;
			}

				.pg-projeto .carrossel #carrossel-projeto{
				    min-height: 665px;
				}

					.pg-projeto .carrossel #carrossel-projeto .item {
					    height: 665px;

					    background-repeat: no-repeat!important;
					    background-size: cover!important;
					}

					.pg-projeto .carrossel #carrossel-projeto .owl-dots {
					    position: absolute;
					    z-index: 9999!important;
					    bottom: -30px;
					    left: 0;
					}
						.pg-projeto .carrossel #carrossel-projeto .owl-dots .owl-dot {
						    display: inline-block;
						}

					.pg-projeto .carrossel #carrossel-projeto .owl-dot span {
					    display: block;

					    width: 12px;
					    height: 12px;
					    margin: 5px 7px;

					    border: 1px solid #093a4d;
					    border-radius: 20px;
					    background: #fff;
					}
						.pg-projeto .carrossel #carrossel-projeto .owl-dot.active span {
						    background: #093a4d;
						}

				.pg-projeto .carrossel .carrossel-conteudo {
				    position: absolute;
				    z-index: 9999;
				    top: 0;
				    left: 0;

				    display: block;

				    height: 100%;

				    background: rgba(255,255,255, .7);
				}

					.pg-projeto .carrossel .carrossel-conteudo .dados-projeto {
					    margin-top: 40px;
					    margin-bottom: 70px;
					}

						.pg-projeto .carrossel .carrossel-conteudo .dados-projeto h2 {
						    font-size: 26px;

						    text-transform: uppercase;
						}

							.pg-projeto .carrossel .carrossel-conteudo .dados-projeto h2 strong {
							    font-weight: 800;
							}

							.pg-projeto .carrossel .carrossel-conteudo .dados-projeto h2 small {
							    font-size: 14px;

							    text-transform: none;

							    color: #146a37;
							}

							.pg-projeto .carrossel .carrossel-conteudo .dados-projeto h2 span {
							    display: block;
							}

					.pg-projeto .carrossel .carrossel-conteudo .item-projeto{
						min-height: 80px;
					}

				.pg-projeto .carrossel .carrossel-caixa {
				    position: absolute;
				    z-index: 9999;
				    top: 0;
				    right: 0;

				    display: block;

				    padding: 20px;
				}

					.pg-projeto .carrossel .carrossel-caixa .titulo-conteudo {
					    width: 100%;
					    height: 60px;
					    margin-bottom: 2px;

					    text-align: center;

					    background: rgba(9, 58, 77, .4);
					}

						.pg-projeto .carrossel .carrossel-caixa .titulo-conteudo span {
						    font-size: 18px;
						    line-height: 60px;

						    color: #093a4d;
						}

							.pg-projeto .carrossel .carrossel-caixa .titulo-conteudo span img{
								margin-right: 10px;
							}

					.pg-projeto .carrossel .carrossel-caixa .conteudo {
					    width: 100%;
					    height: auto;
					    padding: 20px 10px;

					    background: rgba(9, 58, 77, .4);
					}

						.pg-projeto .carrossel .carrossel-caixa .conteudo p {
						    font-size: 12px;

						    color: #fff;
						}

				.pg-projeto .carrossel-imagens {
				    margin-bottom: 50px;
				    padding: 20px;

				    background: #e5e5e5;
				}

					.pg-projeto .carrossel-imagens #carrossel-imagens-projeto{

					}

						.pg-projeto .carrossel-imagens #carrossel-imagens-projeto .item {
						    position: relative;

						    display: block;

						    width: 238px;
						    height: 175px;
						    margin: 0 auto;

						}
							.pg-projeto .carrossel-imagens #carrossel-imagens-projeto .item:hover{
							    position: relative;

							    display: block;


							}
								.pg-projeto .carrossel-imagens #carrossel-imagens-projeto .item:hover::before{
								    position: absolute;
								    content: '';

								    display: block;

								    width: 61px;
								    height: 59px;
							    	top: 50%;
							    	left: 50%;
							    	transform: translate(-50%,-50%);
								    background:url(img/ampliar.png) no-repeat;
								    background-position: center;
								    z-index: 9999;
								}


							.pg-projeto .carrossel-imagens #carrossel-imagens-projeto .item img {





							    height: 170px;

							}

								.pg-projeto .carrossel-imagens #carrossel-imagens-projeto .item:hover img{
									display: block;
								}
								.fancybox-lock .fancybox-overlay{
									z-index: 9999;
								}
					.pg-projeto .carrossel-imagens .navegacaoCarrosselProjeFrente,
					.pg-projeto .carrossel-imagens .navegacaoCarrosselProjeTras {
					    display: inline-block;

					    width: 30px;
					    height: 30px;
					    margin: 15px 0 0;

					    color: #146a37;
					    border: 2px solid #146a37;
					    border-radius: 3px;
					    background: #fff;
					}

			.pg-projeto .coluna {
			    margin-bottom: 50px;
			    padding: 1px;
			}

				.pg-projeto .transparent {
				    height: 100%;

				    background-color: rgba(34, 34, 34, .75);
				}

					.pg-projeto .projeto {
					    height: 675px;
					    margin-top: 30px;

					    background-repeat: no-repeat!important;
					    background-attachment: fixed!important;
					    background-position: center!important;
					    background-size: cover!important;
					}

						.pg-projeto .coluna .conteudo {
						    padding-top: 150px;

						    text-align: center;

						    color: #fff;
						}

							.pg-projeto .coluna .conteudo h3 {
							    font-size: 20px;

							    display: inline-block;

							    margin: 0;
							    padding: 0;

							    color: #fff;
							}

							.pg-projeto .coluna .conteudo span {
						        font-size: 18px;
							    display: inline-block;
							    color: #146a37;
							    font-weight: bold;
							}

							.pg-projeto .coluna .conteudo p {
							    font-size: 14px;

							    display: block;

							    margin: 40px 0;
							    padding: 0;

							    text-align: left;

							    color: #fff;
							}

								.pg-projeto .coluna .conteudo a {
								    font-size: 16px;
								    line-height: 37px;

								    display: block;

								    width: 265px;
								    height: 37px;
								    margin: 100px auto;

								    text-decoration: none;

								    color: #fff;
								    border: solid 2px #fff;
								}
										.pg-projeto .coluna .conteudo a img {
										    display: inline-block;

										    height: auto;
										    margin-bottom: 4px;
										}

								.pg-projeto .coluna .conteudo a:hover{
									background-color: rgba(34, 34, 34, 0.87);
								}

									.pg-projeto .coluna .conteudo a span {
									    font-size: 30px;

									    color: #146a37;
									}

	/*PG PARCEIROS*/
		.pg-parceiros{

		}

			.pg-parceiros .titulo-skew {
			    font-size: 20px;

			    padding: 0 30px;

			    color: #093a4d;
			}

				.pg-parceiros .skew-on .skew-off ul {
				    margin: 0;
				    padding: 50px 0;

				    list-style: none;

				    text-align: center;
				}

					.pg-parceiros .skew-on .skew-off ul li {
					    position: relative;

					    display: inline-block;

					    width: 192px;
					    height: 107px;

					    background-color: #fff;
					}

						/*.pg-parceiros .skew-on .skew-off ul li:hover{
		    				background-color: #093a4d;
						}*/

						.pg-parceiros .skew-on .skew-off ul li img {
						    position: absolute;
						    top: 50%;
						    left: 50%;

						    transform: translate(-50%,-50%);

						}

							/*.pg-parceiros .skew-on .skew-off ul li:hover img {
							    -webkit-filter: brightness(0) invert(1);
							            filter: brightness(0) invert(1);
							}*/

				.pg-parceiros .banner-parceiros {
				    margin-top: 150px;
				    padding: 0 0 125px 0;

				    background: url(img/luzes.jpg);
				    background-repeat: no-repeat;
				    background-position: 50% 40%;
				    background-size: cover;
				}

					.pg-parceiros .banner-parceiros .texto-banner {
					    font-size: 18px;

					    padding: 30px 55px;

					    color: #fff;
					    background: rgba(0, 0, 0, .54);
					}

						.pg-parceiros .texto-banner span {
						    color: #fff;
						}

							.pg-parceiros .banner-parceiros .texto-banner span b {
							    font-weight: bold;

							    text-transform: uppercase;

							    color: #116935;
							}

	/*PG QUEM SOMOS */
		.pg-quem-somos {
		}

			.pg-quem-somos .titulo-internas {
			    margin-bottom: 100px;
			}

			.pg-quem-somos .quem-somos {

			}

				.pg-quem-somos .quem-somos strong {
				    font-size: 18px;
				    font-weight: 600;

				    display: block;

				    margin-bottom: 30px;
				}
			.pg-quem-somos .skew-on {
			    margin-bottom: 120px;
			}
				.pg-quem-somos .caixa {
				    padding: 100px 0 50px 0;
				}

					.pg-quem-somos .a {
					    display: block;

					    min-height: 120px;

					    cursor: pointer;
					}

						.pg-quem-somos .a .bg-circulo {
						    position: relative;

						    width: 110px;
						    height: 110px;
						    margin: 0 auto;
						}

							.pg-quem-somos .a:hover .bg-circulo {
							    position: relative;

							    width: 110px;
							    height: 110px;
							    margin: 0 auto;

							    border-radius: 100%;
							    background: #fff;
							}

								.pg-quem-somos .a .editar2 {
								    position: absolute;
								    top: 50%;
								    left: 50%;

								    display: block;

								    width: 52px;
								    height: 50px;
								    margin: 0 auto;

								    transform: translate(-50%,-50%);

								    background: url(img/editar2.png);
								    background-repeat: no-repeat;
								    background-position: 50% 0;
								}

									.pg-quem-somos .a:hover .editar2 {
									    width: 75px;
									    height: 72px;

									    background-position: 50% 100%;
									}

								.pg-quem-somos .a .mensagem2 {
								    position: absolute;
								    top: 50%;
								    left: 50%;

								    display: block;

								    width: 52px;
								    height: 40px;
								    margin: 0 auto;

								    transform: translate(-50%,-50%);

								    background: url(img/mensagem2.png);
								    background-repeat: no-repeat;
								    background-position: 50% 0;
								}

									.pg-quem-somos .a:hover .mensagem2 {
									    width: 84px;
									    height: 60px;

									    background-position: 50% 100%;
									}

								.pg-quem-somos .a .positivo2 {
								    position: absolute;
								    top: 50%;
								    left: 50%;

								    display: block;

								    width: 52px;
								    height: 50px;
								    margin: 0 auto;

								    transform: translate(-50%,-50%);

								    background: url(img/positivo2.png);
								    background-repeat: no-repeat;
								    background-position: 50% 0;
								}

									.pg-quem-somos .a:hover .positivo2 {
									    width: 77px;
									    height: 75px;

									    background-position: 50% 100%;
									}

								.pg-quem-somos .a .perfil2 {
								    position: absolute;
								    top: 50%;
								    left: 50%;

								    display: block;

								    width: 60px;
								    height: 62px;
								    margin: 0 auto;

								    transform: translate(-50%,-50%);

								    background: url(img/perfil2.png);
								    background-repeat: no-repeat;
								    background-position: 50% 0;
								}

									.pg-quem-somos .a:hover .perfil2 {
									    width: 75px;
									    height: 72px;

									    background-position: 50% 100%;
									}

							.pg-quem-somos .a p {
							    padding: 10px 0;

							    color: #093a4d;
							}

						.pg-quem-somos .carrossel-imagens #carrossel-quem-somos {

						}

							.pg-quem-somos .carrossel-imagens #carrossel-quem-somos .item {
							    position: relative;

							    display: block;

							    width: 238px;
							    height: 175px;
							    margin: 0 auto;
							}

								.pg-quem-somos .carrossel-imagens #carrossel-quem-somos .item .overlay-branco {
								    position: absolute;
								    top: 0;
								    left: 0;

								    display: block;

								    width: 238px;
								    height: 175px;
								    margin: 0 auto;

								    background: rgba(255,255,255,.5);
								}
								.pg-quem-somos .carrossel-imagens #carrossel-quem-somos .item:hover .overlay-branco {
								    display: none;
								}



							.pg-quem-somos  .carrossel-imagens #carrossel-quem-somos .item {
									    position: relative;

									    display: block;

									    width: 238px;
									    height: 175px;
									    margin: 0 auto;

						}
							.pg-quem-somos  .carrossel-imagens #carrossel-quem-somos .item:hover{
							    position: relative;

							    display: block;


							}
								.pg-quem-somos  .carrossel-imagens #carrossel-quem-somos .item:hover::before{
								    position: absolute;
								    content: '';

								    display: block;

								    width: 61px;
								    height: 59px;
							    	top: 50%;
							    	left: 50%;
							    	transform: translate(-50%,-50%);
								    background:url(img/ampliar.png) no-repeat;
								    background-position: center;
								    z-index: 9999;
								}


							.pg-quem-somos  .carrossel-imagens #carrossel-quem-somos .item img {





							    height: 170px;

							}

								.pg-quem-somos  .carrossel-imagens #carrossel-quem-somos .item:hover img{
									display: block;
								}


								.fancybox-lock .fancybox-overlay{
									z-index: 9999;
								}



							.pg-quem-somos .carrossel-imagens .bg-azul {
							    margin-bottom: 50px;
							    padding: 10px 20px;

							    background: #093a4d;
							}

							.pg-quem-somos .carrossel-imagens .navegacaoCarrosselQuemFrente,
							.pg-quem-somos .carrossel-imagens .navegacaoCarrosselQuemTras {
							    display: inline-block;

							    width: 30px;
							    height: 30px;

							    color: #fff;
							    border: 2px solid #fff;
							    border-radius: 3px;
							    background: transparent;
							}

	/*PG NOVIDADES*/
		.pg-novidades {

		}

			.pg-novidades .frase-novidades {
			    margin: 50px 0;
			}

				.pg-novidades .frase-novidades p {
				    font-size: 18px;

				    text-shadow: 0 4px 2px rgba(150, 150, 150, .3);
				}

			.pg-novidades .panel-group .panel {
			    border-color: transparent;
			    border-radius: 0;
			}

				.pg-novidades .panel-group .panel .panel-heading {
				    display: block;

				    height: 44px;
				    padding: 0;

				    text-align: center;

				    border: 1px solid #116935;
				    border-radius: 0;
				    background: transparent;
				}

					.pg-novidades .panel-group .panel .panel-heading:hover {
					    border: 1px solid #093a4d;
					    background: #093a4d;
					}

					.pg-novidades .panel-group .panel .panel-heading .panel-title {
					    line-height: 44px;

					    display: block;
					}
						.pg-novidades .panel-group .panel .panel-heading .panel-title a {
						    display: block;

						    text-decoration: none;
						}

							.pg-novidades .panel-group .panel .panel-heading .panel-title a:hover {
							    color: #fff;
							}

							.pg-novidades .panel-group .panel .panel-heading .panel-title a i {
							    font-size: 24px;

							    height: 29px;

							    vertical-align: middle;
							}

				.pg-novidades .panel-group .panel-body {
				    padding: 15px 0;
				}

					.pg-novidades .panel-group .panel-body ul {
					    width: 100%;
					    margin: 0;
					    padding: 0;

					    list-style: none;
					}

						.pg-novidades .panel-group .panel-body ul li {
						    line-height: 35px;

						    height: 35px;
						    margin: 5px 0;
						}

							.pg-novidades .panel-group .panel-body ul li:hover {
							    background: #093a4d;
							}

							.pg-novidades .panel-group .panel-body ul li a {
							    display: block;

							    margin-left: 15px;

							    text-decoration: none;

							    color: #116935;
							}

								.pg-novidades .panel-group .panel-body ul li a:hover {
								    color: #fff;
								}

				.pg-novidades .novidades-grid {
				    position: relative;

				    display: -webkit-flex;
				    display:    -moz-flex;
				    display:     -ms-flex;
				    display:         flex;

				    margin: 0;
				    padding: 0;

				    text-align: center;

				    -webkit-flex-flow: row wrap;
				       -moz-flex-flow: row wrap;
				        -ms-flex-flow: row wrap;
				            flex-flow: row wrap;
				    -webkit-justify-content: center;
				       -moz-justify-content: center;
				        -ms-justify-content: center;
				    -webkit-justify-content: center;
				}
					.pg-novidades .novidades-grid > li {
					    position: relative;

					    display: inline-block;

					    width: 33%;
					    /*min-width: 340px;*/
					    max-width: 555px;
					    padding: 20px 2% 50px 2%;

					    text-align: left;
					    vertical-align: top;
					    /*display: block;*/
					}

						.pg-novidades .novidades .novidades-grid > li a {
						    text-decoration: none;
						}

							.pg-novidades .novidades .imagem {
							    position: relative;

							    display: block;

							    width: 220px;
							    height: 153px;
							    margin: 0 auto;

							    border: 1px solid #093a4d;
							    background-repeat: no-repeat!important;
							    background-position: center!important;
							    background-size: cover!important;
							}

							.pg-novidades .novidades .data {
							    display: block;

							    width: 220px;
							    height: 55px;
							    margin: 2px auto 5px;

							    border: 1px solid #116935;
							}

								.pg-novidades .novidades a:hover .data {
								    border: 1px solid #093a4d;
								    background: #093a4d;
								}
							.pg-novidades .novidades .data .calendario{

							}
								.pg-novidades .novidades .data .calendario span {
								    display: block;

								    width: 44px;
								    height: 37px;
								    margin: 5px auto;

								    background: url(img/calendario.png) no-repeat;
								    background-position: 50% 0;
								}

									.pg-novidades .novidades a:hover .data .calendario span {
									    display: block;

									    width: 44px;
									    height: 37px;
									    margin: 5px auto;

									    background: url(img/calendario.png) no-repeat;
									    background-position: 50% 100%;
									}

							.pg-novidades .novidades .data .data-texto{

							}

								.pg-novidades .novidades .data .data-texto strong {
								    line-height: 55px;

								    color: #116935;
								}

							.pg-novidades .novidades .descricao {
							    font-size: 14px;

							    width: 220px;
							    height: auto;
							    margin: 0 auto 40px;

							    color: #093a4d;
							}

								.pg-novidades .novidades .descricao h2 {
									font-size: 16px;
								}

								.pg-novidades .novidades .descricao i {
								    font-size: 18px;

								    position: relative;

								    float: right;

								    width: 30px;
								    height: 30px;

								    color: #116935;
								    border: 2px solid #9db0b8;
								}

									.pg-novidades .novidades a:hover .descricao i {
									    color: #fff;
									    border: 2px solid #093a4d;
									    background: #093a4d;
									}

									.pg-novidades .novidades .descricao i::before {
									    position: absolute;
									    top: 50%;
									    left: 50%;

									    transform: translate(-50%,-50%);
									}

	/*PG NOVIDADE*/
		.pg-novidade{

		}

			.pg-novidade .frase-novidades{
				margin: 30px 0 50px;
				padding: 0 20px;
			}

			.pg-novidade .cabecalho {
			    position: relative;
			    position: relative;
				width: 780px;
			    height: 350px;
			    margin: 0 auto;
			    padding: 10px;
				border: solid 2px #a0b3ba;
			    background: url(img/foto-novidade.jpg);
			    background-repeat: no-repeat;
			    background-position: center!important;
			    background-size: cover!important;
			}

				.pg-novidade .cabecalho::before {
				    position: absolute;
				    top: -2px;
				    left: -2px;
					display: block;
					width: 780px;
				    max-width: 101%;
				    height: 230px;
					content: '';
					border-top: solid 2px #fff;
				    border-right: solid 2px #fff;
				    border-left: solid 2px #fff;
				    background: transparent;
				}

				.pg-novidade .dados {
				    position: absolute;
				    bottom: 20px;
				    left: 20px;

				    width: 250px;
				    height: auto;

				    color: #fff;
				}

					.pg-novidade .dados .data {
					    font-size: 22px;
					    font-weight: 300;
					    line-height: 70px;

					    height: 70px;

					    text-align: center;

					    background-color: rgba(52, 52, 52, .95);
					}

					.pg-novidade .dados .informacao {
					    font-size: 15px;

					    height: 100px;
					    padding: 20px 20px 10px;

					    color: #093a4d;
					    background-color: rgba(255, 255, 255, .85);
					}

				.pg-novidade .texto {
				    margin-top: -120px;
				    padding: 150px 20px 50px;

				    color: #fff;
				    background: -webkit-linear-gradient(#77929c, #47626c); /* For Safari 5.1 to 6.0 */
				    background:      -o-linear-gradient(#77929c, #47626c); /* For Opera 11.1 to 12.0 */
				    background:    -moz-linear-gradient(#77929c, #47626c); /* For Firefox 3.6 to 15 */
				    background:         linear-gradient(#77929c, #47626c); /* Standard syntax (must be last) */
				}

					.pg-novidade .texto p {
					    font-weight: 300;

					    margin-bottom: 40px;
					}

					.pg-novidade .texto i {
					    font-size: 14px;
					    font-weight: 300;
					}

				.pg-novidade .outras-novidades {
				    min-height: 260px;
				    height: auto;
				    margin: 85px 0 50px;

				    text-align: center;

				    background: url(img/luze-s.jpg);
				    background-position: 50px -280px;
				}

					.pg-novidade .overlay-preto {
					    min-height: 260px;
					    height: 100%;
					    padding: 70px 20px 20px;

					    color: #fff;
					    background: rgba(0, 0, 0, .48);
					}

						.pg-novidade .overlay-preto p {
						    font-size: 17px;
						    font-weight: 300;

						    display: block;

						}

						.pg-novidade .overlay-preto a {
						    line-height: 30px;

						    display: inline-block;

						    width: 230px;
						    height: 30px;
						    margin-top: 20px;

						    text-decoration: none;

						    color: #214d5e;
						    border: 1px solid rgba(255,255,255,.2);
						    background: rgba(255,255,255,.5);
						}

							.pg-novidade .overlay-preto a:hover {
							    color: #fff;
							}

							.pg-novidade .overlay-preto a span {

							}

	/*PG CONTATO*/
		.pg-contato{

		}
			.pg-contato .alinhamento{
				text-align: center;
			}
				.pg-contato .caixa {
				    display: inline-block;
				    margin-top: 50px;
					text-align: left;
					border: solid 1px #30a05e;
				}
					.pg-contato .conteudo {
					    font-size: 32px;
						display: block;
						height: 80px;
					    padding: 20px 0 0 0;
						text-align: center;
						color: #fff;
					    background-color: #093a4d;
					}
						.pg-contato .caixa .conteudo strong {
						    display: inline;
							color: #116935;
						}

						.pg-contato .conteudo .caixa{
							color:#116935;
						}
						.pg-contato  .caixa span {
							display: block;
							padding: 15px 10px 15px 10px;
							color: #116935;
						}

						.pg-contato  .caixa img {
							margin: 0 10px 5px 5px;
						}
				.pg-contato .c-aixa {
				    margin-top: 50px;
				}

					.pg-contato .c-aixa  span {
					    display: block;
					}
					.pg-contato .c-aixa .area-input {
					    position: relative;
					    height: 39px;

					    margin-bottom: 20px;
					}
						.pg-contato .c-aixa .area-input img{
						    position: absolute;
						    top: 0;
						    right: 0;
					    	height: 39px;
						}

						.pg-contato .c-aixa .area-textarea {
						    position: relative;
						    height: 39px;
						    margin-top: 50px;
						    margin-bottom: 120px;
					}
						.pg-contato .c-aixa .area-textarea img{
						    position: absolute;
						    top: -39px;
						    right: 0;
						    height: 39px;
						}
						.pg-contato .c-aixa  input {
						    display: block;
							width: 100%;
							height: 39px;
							border-top: 0;
						    border-right: 0;
						    border-bottom: solid 1px #116935;
						    border-left: 0;
						    background: transparent;
						    position: relative;
						    outline: 0!important;
						}

					.pg-contato .c-aixa  textarea {
					    display: block;
						width: 100%;
					    max-width: 100%;
					    height: 128px;
					    max-height: 128px;
						border: solid 1px #116935;
						outline: 0!important;
					}
					.pg-contato .c-aixa  .botao {
					    display: block;
						width: 115px;
					    height: 35px;
						color: #fff;
					    background-color: #116935;
					}

			.pg-contato .skew-img {
			    display: block;
				margin-top: 50px;
			    padding: 63px 0 30px 0;
				-webkit-transform: skew(0deg, 1deg);
				-moz-transform: skew(0deg, 1deg) ;
				-ms-transform: skew(0deg, 1deg) ;
				-o-transform: skew(0deg, 1deg) ;
				transform: skew(0deg, 1deg) ;
				color: #fff;
			    background: url(img/lampada-fundo.jpg);
			    background-repeat: no-repeat;
			    background-position: 0 65%;
			    background-size: cover;
			}

				.pg-contato .skew-conteudo {
					padding: 40px 0 132px 0;
					-webkit-transform: skew(0deg, -1deg);
					-moz-transform: skew(0deg, -1deg) ;
					-ms-transform: skew(0deg, -1deg) ;
					-o-transform: skew(0deg, -1deg) ;
					transform: skew(0deg, -1deg) ;
					text-align: center;
					color: #fff;
					background: rgba(56, 56, 56, .49);
				}

					.pg-contato .skew-conteudo strong{
						color: #1C4050
					}
					.pg-contato .skew-conteudo .text {
						width: 250px;
						border-top: 0;
						border-right: 0;
						border-bottom: solid 1px #f9f9f9;
						border-left: 0;
						background: transparent;
						outline: 0;
						height: 51px;

					}
					.pg-contato .skew-conteudo .botao{
					    width: 67px;
					    height: 51px;
					    border: none;
					    background: #116935 url(img/av.png) no-repeat;
					    background-position: center;
					    vertical-align: middle;
					}
						.wpcf7-validation-errors{
							border: none;
						}
						.pg-contato .skew-conteudo .wysija-submit{
							display: inline-block!important;
							margin-top: 0!important;
						}
						.pg-contato .skew-conteudo .form-validation-field-0formError, .pg-contato .skew-conteudo .form-validation-field-1formError{
							top: 0!important;
						}
	/* EXTRAS */
		.correcao-x{
			padding: 0 20px;
		}
		.correcao-y{
			padding: 20px 0;
		}
		.correcao-xy{
			padding: 20px;
		}
		.wpcf7-validation-errors{
			border: 1px solid #093a4d!important;
		}
		.form-validation-field-0formError, .form-validation-field-1formError{
			left: 0!important;
		}
		.widget_wysija_cont .updated, .widget_wysija_cont .login .message{
			background-color: #FFF!important;
			border-color: #093a4d!important;
		}
	/* BOTÕES */
		.botao-exemplo{

		}

	/* @MEDIA */
		@media screen and (max-width: 991px) {
			.c-fluid {
				width: 100%!important;
			}
			.pg-projeto .carrossel #carrossel-projeto .item{
				height: 765px;
			}
			.pg-projeto .carrossel .carrossel-conteudo{
				height: auto;
			}
			.pg-projeto .carrossel .carrossel-caixa{
				top: inherit;
				bottom: 0;
			}
			.pg-projeto .carrossel .carrossel-caixa .titulo-conteudo span{
				color: #fff;
			}
			.pg-novidade .novidade{
				border: none;
				border-bottom: 2px solid #a0b3ba;
			}
				.pg-novidade .novidade::before{
					content: initial;
				}
		}
		@media (max-width: 768px) {
			.area-topo .topo .navbar-nav{
				background: #093a4d;
				text-align: left;
				margin-top: 0!important;
			}
				.area-topo .topo .navbar-nav li{
					display: block;
				}
			.pg-projeto .carrossel #carrossel-projeto .item{
				height: 965px;
			}
			.pg-inicial .depoimentos .item .comentario{
				margin-top:25px;
			}
		}
		@media (max-width: 440px) {

			.pg-inicial #carrossel-parceiros-inicial .item{
				    margin: 20px 0 0 20px;
				    padding: 0;
			}
		}
		@media (max-width: 365px) {
			.pg-projeto .carrossel #carrossel-projeto .item{
				height: 1190px;
			}
			.pg-inicial #carrossel-parceiros-inicial .item{
				    margin: 20px 0 0 5px;
				    padding: 0;
			}
		}
		@media screen and (max-width: 75.125em) {
			.projetos-grid > li {
				width: 48%!important;
			}
			.novidades-grid > li {
				width: 48%!important;
			}
		}

		@media screen and (max-width: 56.125em) {
			.projetos-grid > li {
				width: 100%!important;
			}
			.novidades-grid > li {
				width: 100%!important;
			}
		}

